// Define parameters used in the main Nextflow script called main.nf

params {
    // GENERAL PARAMETERS

    // Outdir paths
    results_folder = "$launchDir/results"

    // Modules dir
    modulesdir = "$launchDir/modules"

    // Rscript paths
    predict_proportions_script = "$launchDir/rscript/deconvolution_predict-proportions.R"
    analyze_results_script = "$launchDir/rscript/deconvolution_analyze-results.R"

    // LIST CHANNEL INPUTS

    sce_filepath = ["$lunchDir/data/sce_sc_10x_qc.rda", "$lunchDir/data/sce_sc_CELseq2_qc.rda", "$lunchDir/data/sce_sc_Dropseq_qc.rda"]
    decon_method = ["nnls", "nnls", "nnls"]
    decon_args = ["NA", "NA", "NA"]
    assay_name = ["counts", "counts", "counts"]
    true_proportions_path = ["$launchDir/data/true_proportions_sce_sc_10x_qc.rda", "$launchDir/data/true_proportions_sce_sc_CELseq2_qc.rda", "$launchDir/data/true_proportions_sce_sc_Dropseq_qc.rda"]
}
