// Define parameters used in the main Nextflow script called main.nf

params {
    // GENERAL PARAMETERS

    // Outdir paths
    results_folder = "$launchDir/results"

    // Modules dir
    modulesdir = "$launchDir/modules"

    // Rscript paths
    predict_proportions_script = "$launchDir/rscript/deconvolution_predict-proportions.R"
    analyze_results_script = "$launchDir/rscript/deconvolution_analyze-results.R"

    // LIST CHANNEL INPUTS

    sce_filepath = ["$launchDir/data/sce-example.rda", "$launchDir/data/sce-example.rda", "$launchDir/data/sce-example.rda", "$launchDir/data/sce-example.rda"]
    decon_method = ["nnls", "NNLS", "music", "MuSiC"]
    decon_args = ["NA", "NA", "NA", "NA"]
    assay_name = ["counts", "logcounts", "counts", "logcounts"]
    true_proportions_path = ["$launchDir/data/true-proportions.rda", "$launchDir/data/true-proportions.rda", "$launchDir/data/true-proportions.rda", "$launchDir/data/true-proportions.rda"]
}
